{% extends 'admin/dashboard.html.twig' %}

{% block title %}Modifier Réservation - {{ type|capitalize }}{% endblock %}

{% block body %}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4 shadow-sm border-radius-xl">
                    <div class="card-header p-3">
                        <h6 class="font-weight-bolder mb-0">Modifier une Réservation {{ type|capitalize }}</h6>
                    </div>
                    <div class="card-body p-3">
                        {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button type="submit" class="btn btn-success">Enregistrer</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}