<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}eventora{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'><text y='1.2em' font-size='96'>⚫️</text><text y='1.3em' x='0.2em' font-size='76' fill='%23fff'>sf</text></svg>">

        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
            <!-- Animate.css -->
            <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
            <!-- Icomoon Icon Fonts -->
            <link rel="stylesheet" href="{{ asset('css/icomoon.css') }}">
            <!-- Bootstrap -->
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <!-- Magnific Popup -->
            <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
            <!-- Owl Carousel -->
            <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">
            <!-- Theme style -->
            <link rel="stylesheet" href="{{ asset('css/style1.css') }}">
        {% endblock %}

        <!-- Modernizr JS -->
        <script src="{{ asset('js/modernizr-2.6.2.min.js') }}"></script>
        <!-- FOR IE9 below -->
        <!--[if lt IE 9]>
        <script src="{{ asset('js/respond.min.js') }}"></script>
        <![endif]-->

        {% block javascripts_head %}{% endblock %}
    </head>
    <body>
        <div class="fh5co-loader"></div>
        <div id="page">
            {% block body %}
                <nav class="fh5co-nav" role="navigation">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-2">
                                <div id="fh5co-logo"><a href="{{ path('app_home') }}">Eventora<strong></strong></a></div>
                            </div>
                            <div class="col-xs-10 text-right menu-1">
                                <ul>
                                    <li class="active"><a href="{{ path('app_home') }}">Home</a></li>
                                    <li class="has-dropdown">
                                    <a href="#">Services</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Service</a></li>
                                            <li><a href="#">Partenaire</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown">
                                        <a href="#">Reclamation</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Reclamation</a></li>
                                            <li><a href="#">Feedback</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown">
                                        <a href="#">Reservations</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Reservation personalisé</a></li>
                                            <li><a href="#">Reservation</a></li>
                                        </ul>
                                    </li>
                                     <li class="has-dropdown">
                                        <a href="#">Packs</a>
                                        <ul class="dropdown">
                                            <li><a href="#"></a></li>
                                            <li><a href="#"></a></li>
                                        </ul>
                                    </li>
                                     <li><a href="#">Talk with Evi</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
